{% extends "/course-enrol/cen-base.html" %}

{% block content_cen %}
	<div class="cen-center">
		<table class="course-table-head">
			<tr>
				<td>Level: <span class="blue">{{level}}<span></td>
				<td>Term: <span class="blue">{{sess}}</span></td>
				<td>Department: <span class="blue">{{subject}}</span></td>
			<tr>
		</table>
		<br>
	</div>
	
	<br>
	<div class="paper">
		<table class="class-table">
			<tr>
				<td class="course-num-td">{{course.subject}} {{course.catalog_num}}</td>
				<td class="course-num-td"><span class="blue">{{course.title}}</span></td>
				<td class="course-credit-td"><span class="blue">Credits: </span>{{course.units}}</td>
			</tr>
			{% if not course.note == None %}
			<tr>
				<td colspan="3" class="course-note-td"><i>{{course.note}}</i></td>
			</tr>
			{% endif %}
		</table>
	</div>
		
	<br>
	<br>
	<div class="paper">
		<table class="class-table">
			<table>
				<tr>
					<td><div style="width: 150px;"><span class="blue">Class Number: </span>{{theClass.class_num}}</div></td>
					<td><div style="width: 150px;"><span class="blue">Section: </span>{{theClass.comp_sec}}</div></td>
					<td><div style="width: 150px;"><span class="blue">Campus: </span>{{theClass.camp_loc}}</div></td>
				</tr>
			</table>
			<table>
			<tr>
				<td><span class="blue">Enrolment: </span></td>
				{% if ((theClass.enrol_tot / theClass.enrol_cap) < 0.5) %}
					<td><span class="green">{{theClass.enrol_tot}} </span>/ {{theClass.enrol_cap}} (total / capacity)</td>
				{% elif ((theClass.enrol_tot / theClass.enrol_cap) < 0.75) %}
					<td><span class="yellow">{{theClass.enrol_tot}} </span>/ {{theClass.enrol_cap}} (total / capacity)</td>
				{% elif ((theClass.enrol_tot / theClass.enrol_cap) < 0.85) %}
					<td><span class="orange">{{theClass.enrol_tot}} </span>/ {{theClass.enrol_cap}} (total / capacity)</td>
				{% elif ((theClass.enrol_tot / theClass.enrol_cap) < 0.93) %}
					<td><span class="red">{{theClass.enrol_tot}} </span>/ {{theClass.enrol_cap}} (total / capacity)</td>
				{% else %}
					<td><span class="more_red">{{theClass.enrol_tot}} </span>/ {{theClass.enrol_cap}} (total / capacity)</td>
				{% endif %}
			</tr>
			<tr>
				<td><span class="blue">Waitlist: </span></td>
				<td>{{theClass.wait_tot}} / {{theClass.wait_cap}} (total / capacity)</td>
			</tr>
			{% if noteHasCol10(theClass.note) %}
			<tr>
				<td><span class="blue">Notes: </span></td>
				<td>
			{% for note in theClass.note %}
				{% if not note.col10 == None %}
				<span><i>{{note.col10}}</i></span>
				&nbsp;&nbsp;&nbsp;
				{% endif %}
			{% endfor %}
				</td>
			</tr>
			{% endif %}
			</table>
			<table>
			<tr>
				<td><div style="width: 200px;"></div></td>
				<td><div style="width: 150px;"></div></td>
				<td><div style="width: 150px;"></div></td>
			</tr>
			<tr>
				<td><span class="blue">Time, Days, Date</span></td>
				<td align="center"><span class="blue">Building, Room</span></td>
				<td align="center"><span class="blue">Instructor</span></td>
			</tr>
			<tr>
				{% if theClass.time_date == None %}
					<td></td>
				{% else %}
					<td>{{theClass.time_date}}</td>
				{% endif %}
				
				{% if theClass.bldg_room == None %}
					<td></td>
				{% else %}
					<td align="center">{{theClass.bldg_room}}</td>
				{% endif %}
				
				{% if theClass.instructor == None %}
					<td></td>
				{% else %}
					<td align="center">{{theClass.instructor}}</td>
				{% endif %}
			</tr>
			
			{% for note in theClass.note %}
				{% if not note.col6 == None %}
				<tr>
					{% if note.time_date == None %}
					   <td></td>
					{% else %}
					   <td>{{note.time_date}}</td>
					{% endif %}
					
					{% if note.bldg_room == None %}
					   <td></td>
					{% else %}
					   <td align="center">{{note.bldg_room}}</td>
					{% endif %}
					
					{% if note.instructor == None %}
					   <td></td>
					{% else %}
					   <td align="center">{{note.instructor}}</td>
					{% endif %}
					
					<td style="font-size:12px;"><i>{{note.col6}}</i></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td style="font-size:12px;">Enrolment: {{note.enrol_tot}} / {{note.enrol_cap}}</td>
				</tr>
				{% endif %}
			{% endfor %}
			
			{% for note in theClass.note %}
				{% if note.col10 == None and note.col6 == None %}
				<tr>
					{% if note.time_date == None %}
					   <td></td>
					{% else %}
					   <td>{{note.time_date}}</td>
					{% endif %}
					
					{% if note.bldg_room == None %}
					   <td></td>
					{% else %}
					   <td align="center">{{note.bldg_room}}</td>
					{% endif %}
					
					{% if note.instructor == None %}
					   <td></td>
					{% else %}
					   <td align="center">{{note.instructor}}</td>
					{% endif %}
				</tr>
				{% endif %}
			{% endfor %}
			</table>
		</table>
	</div>
	<br>
	<br>
	<div class="paper">
	  <form method="post">
		<span style="position: relative; left:3px; font-size:15px;">Input your Email address to receive alerts:</span>
		<input type="email" name="email" size="25" class="alarm-email-input" value="{{email}}">
		<input type="text" name="level" hidden="true" value="{{level}}">
		<input type="text" name="catalog_num" hidden="true" value="{{course.catalog_num}}">
		<input type="text" name="class_num" hidden="true" value="{{theClass.class_num}}">
		<input type="submit" value="Set!" class="alarm-set-input">
		{% if not email == "" %}
		<div style="width:400px; position: relative; left:294px; font-size:15px; color: #b90000;">{{error}}</div>
		{% elif not error == "" %}
		<div style="width:280px; position: relative; left:294px; font-size:15px; color: gray;">{{error | safe}}</div>
		{% endif %}
	  </form>
	</div>
	
{% endblock %}
