{% extends "/course-enrol/cen-base.html" %}

{% block content_cen %}
	<br>
	<div class="cen-center">
  	<form method="post">
  	<span class="choose">Choose Your Education Level:</span>
  	  <div class="select-style">
  	  <select name ="level">
	    <option value="under">Undergraduate
	    <option value="grad" selected>Graduate
	  </select>
	  </div>
	  
	  <br>
	  <span class="choose">Choose the term you are looking for:</span>
	  <div class="select-style">
	  <select name = "sess">
	  {% for sess in sess_values %}
	    {% if sess[1] == True %}
	      <option value="{{sess[0]}}" selected>{{term_dic[sess[0]]}}
	    {% else %}
	      <option value="{{sess[0]}}">{{term_dic[sess[0]]}}
	    {% endif %}
	  {% endfor %}
	  </select>
	  </div>
	  
	  <br>
	  <span class="choose">Choose the subject you are looking for (One must be selected):</span>
	  <div class="select-style">
	  <select name="subject">
	    {% for subject in subject_values %}
	      {% if subject == 'ECE' %}
	        <option value="{{subject}}" selected>{{subject}}
	      {% else %}
	        <option value="{{subject}}">{{subject}}
	      {% endif %}
	    {% endfor %}
	  </select>
	  </div>
	  
	  <br>
	  <span class="choose">Type part or all of the course number you are looking for:</span>
	  <input type="text" name="cournum" size="5" class="input-text-front">
	  <br>
	  <br>
	  
	  <input type="submit" value="Search!" class="input-submit-front">
	  <input type="reset" value="Clear Fields" class="input-reset-front">
	</form>
	  <p class="home-table-description"><i>*This information is updated hourly between the hours of 8:00am and 8:00pm.</i></p>
	</div>
{% endblock %}
