{% extends "/course-enrol/cen-base.html" %}

{% block content_cen %}
	<div class="cen-center">
		{% if not isUser_email_exist %}
		<div class="paper">
			<div style="text-align: center; font-size: 18px;">
			<br>
			<div>No Public Alerts...</div>
			<br>
			<div><a href="{{login_link}}" class="manage">Log in</a> to manage your alerts!</div>
			<br>
			</div>
		</div>
		{% else %}
		<br>
		{% for id, alert in dic_alert.items() %}
			{% if user_email in alert.user_email %}
			<br>
			<div class="paper">
				{% if alert.level == 'grad' %}
				<span class="blue">Graduate </span>
				{% else %}
				<span class="blue">Undergraduate </span>
				{% endif %}
				<span class="blue">{{term_dic[alert.sess]}} </span>
				<span class="blue">{{alert.subject}} {{alert.catalog_num}} </span>
				<span>Class Number: </span><span class="blue">{{alert.class_num}}</span>
				
				<div>
				<span>Current Enrollment: </span>
				{% if ((alert.enrol_tot / alert.enrol_cap) < 0.5) %}
				<span class="green">{{alert.enrol_tot}} </span>/ {{alert.enrol_cap}} (total / capacity)</span>
				{% elif ((alert.enrol_tot / alert.enrol_cap) < 0.75) %}
				<span class="yellow">{{alert.enrol_tot}} </span>/ {{alert.enrol_cap}} (total / capacity)</span>
				{% elif ((alert.enrol_tot / alert.enrol_cap) < 0.85) %}
				<span class="orange">{{alert.enrol_tot}} </span>/ {{alert.enrol_cap}} (total / capacity)</span>
				{% elif ((alert.enrol_tot / alert.enrol_cap) < 0.93) %}
				<span class="red">{{alert.enrol_tot}} </span>/ {{alert.enrol_cap}} (total / capacity)</span>
				{% else %}
				<span class="more_red">{{alert.enrol_tot}} </span>/ {{alert.enrol_cap}} (total / capacity)</span>
				{% endif %}
				</div>
				
				{% for user, emaillist in alert.user_email.items() %}
					{% if user_email == user %}
					<br>
						<div>Public Email Alerts:</div>
					<table>
						<tr><td></td></tr>
						{% for email in emaillist %}
						<tr>							
							<td><div class="emails">{{email[0]}}</div></td>
							<td>

								<div class="delete_href"><a href="mailto:zhh358@gmail.com?Subject=Request to delete alert: {{alert.subject}}-{{alert.catalog_num}}-{{alert.class_num}}: {{email[0]}}" class="delete_href"><div class="input-reset-front">Request to Delete</div></a></div>
								
							</td>
							<form>
						</tr>
						{% endfor %}
					</table>
					{% endif %}
				{% endfor %}
			</div>
			{% endif %}
		{% endfor %}
		{% endif %}
		<br>
	</div>
{% endblock %}
