{% extends "/course-enrol/cen-base.html" %}

{% block content_cen %}
	<div class="cen-center">
	<div class="paper">
		{% if Alert_runing_switch == True %}
			<span style="color: #346BB9; font-size: 20px; width:100px; position: relative; left:200px;">Alert: <a href="/uw-cen/alert/off" style="text-decoration: none; color:#126105;">ON</a></span>
		{% else %}
			<span style="color: #346BB9; font-size: 20px; width:100px; position: relative; left:200px;">Alert: <a href="/uw-cen/alert/on" style="text-decoration: none; color:#9C3333;">OFF</a></span>
		{% endif %}
	</div>
		{% for id, alert in dic_alert.items() %}
		<br>
		<br>
			<div class="paper">
				<span>{{alert.level}} {{alert.sess}} {{alert.subject}} {{alert.catalog_num}} {{alert.class_num}}  {{alert.enrol_tot}} / {{alert.enrol_cap}}</span>
				<br>
				{% for email in alert.email %}
					<br>
					<span>{{email}}</span>
				{% endfor %}
				
				<br>
				<br>
				<br>
				
				{% for user, emaillist in alert.user_email.items() %}
					<br>
					<span><b>{{user}}</b></span>
					<br>
					{% for email in emaillist %}
						<br>
						<span>{{email}}</span>
					{% endfor %}
					<br>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
