{% extends "/course-enrol/cen-base.html" %}

{% block content_cen %}
	<div class="cen-center">
		<i>*User Management Page is building....Coming Soon!</i>
		{% for id, alert in dic_alert.items() %}
		{% if user_email in alert.user_email%}
		<br>
		<br>
			<div class="paper">
				<span>{{alert.level}} {{alert.sess}} {{alert.subject}} {{alert.catalog_num}} {{alert.class_num}}  {{alert.enrol_tot}} / {{alert.enrol_cap}}</span>
				
				{% for user, emaillist in alert.user_email.items() %}
					<br>
					<br>
					{% for email in emaillist %}
						<br>
						<span>{{email}}</span>
					{% endfor %}
					<br>
				{% endfor %}
			</div>
		{% endif %}
		{% endfor %}
	</div>
{% endblock %}
