body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background-color: #F3F3F4;
}

footer {
    text-align: center;
    color: #6C707B;
    font-size: small;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    /*width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    */
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}
    
input[type=text] {
	
}

.input-text-front {
	position: relative;
	top: 6px;
	border:1px solid #ccc;
	padding: 7px 3px;
	width: 140px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
}

input[type=submit] {
 
}

.input-submit-front {
	font-size: 14px;
	border:1px solid #ccc;
	padding:5px 15px; 
	background: rgba(0,0,0,0.03); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input[type=reset] {

}

.input-reset-front {
	padding:5px 10px; 
	border:1px solid #ccc;
	background: rgba(0,0,0,0.05); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

select {
	font-size: 15px;
	font-weight: 300;
}

.main-title {
    display: block;
    color: #346bb9;
    font-size: 39px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.sub-title {
	text-align:center;
	font-weight: 300;
}

.cen-center {
	width:500px;
	margin:auto auto auto auto;
}

.uw-icon {
	position: relative; 
	top: 50px; 
	left: 370px;
	height: 50%;
	width: 50%;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.alarm-icon {
	position: relative; 
	top: 37px; 
	left: 665px;
	
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
}

.alarm-icon:hover {
	position: relative; 
	top: 37px; 
	left: 665px;
	
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.alarm-text {
	position: relative; 
	top: 31px; 
	left: 520px;
	font-size: 18px;
	font-weight: 350;
	color: #346bb9;
}

}
.home-table {
	width:630px;
	margin:auto auto auto auto;
}

.home-table-description {
	color : gray;
	font-weight: 300;
}

.add-form {
	position: relative;
    top: 10px;
    left: 10px;
}

.choose {
	font-size:18px;
}

.select-style {
	position: relative;
	top: 6px;
	padding: 3px 3px;
    border: 1px solid #ccc;
    width: 140px;
    border-radius: 3px;
    overflow: hidden;
    background: #fcfcfc url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 92% 50%;
}

.select-style select {
    padding: 3px 8px;
    width: 120%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/*Styles for cen-reslt*/
.blue {
	color: #346bb9;
}

.green {
	color: #07945f
}

.yellow {
	color: #d6bd00
}

.orange {
	color: #d58700
}

.red {
	color: #d14a00
}

.more_red {
	color: #d20000
}

.course-table-head {
	width:550px;
	margin:auto auto auto auto;
	font-size: 17px;
	font-weight: 300;
}

.course-table {
	width:500px;
	margin:auto auto auto 30px;
}

.course-num-td {
	position: relative;
	left: 5px;
	font-size: 20px;
	font-weight: 300;
	color: #346bb9;
	text-decoration: none;
}


.course-num-td:visited {
	position: relative;
	left: 5px;
	font-size: 20px;
	font-weight: 310;
	color: #346bb9;
	text-decoration: none;
}

.course-title-td {
	font-size: large;
	font-weight: 300;
	position: relative;
	left: 17px;
	color: #373737;
	text-decoration: none;
}

.course-title-td:visited {
	font-size: large;
	font-weight: 300;
	position: relative;
	left: 17px;
	color: #373737;
	text-decoration: none;
}

.class-table {
	width:740px;
	margin:auto auto auto auto;
}

.course-credit-td {
	font-size: large;
	font-weight: 300;
	text-decoration: none;
}

.course-title-td1 {
	font-size: large;
	font-weight: 350;
	text-decoration: none;
}

.course-note-td {
	font-size: medium;
	font-weight: 300;
	text-decoration: none;
}

.large-font {
	font-size: large;
}

.paper {
	padding: 5px 5px;
	background: #fafafa;
	border: 1px solid #ccc;
    border-radius: 5px;
}

.alarm-email-input {
	position: relative;
	left: 6px;
	border:1px solid #ccc;
	padding: 5px 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
}

.alarm-set-input {
	position: relative;
	left: 6px;
	font-size: 15px;
	border:1px solid #ccc;
	padding:5px 15px; 
	background: rgba(0,0,0,0.03); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #346bb9;
}

.post-title {
	display: block;
    font-size: 27px;
    font-weight: bold;

    text-decoration: none;
    color: #346bb9;
	border-bottom: 0px solid #346bb9;
    word-wrap:break-word;
    text-align:justify;
    
    /*white-space:nowrap; 
    overflow:hidden; 
    text-overlow:ellipsis; 
    width:630px;*/
}

.post-title:visisted {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 3px;
    color: rgba(52,108,186,0.71);

}

.post-content {
    margin-top: 5px;
    word-wrap:break-word;
    text-align:justify;
    color: #6C707B
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}
.user {
	color: #346bb9;
	font-size: 17px;
}

.return {
	font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}
.query {
	position: relative;
	right: -325px;
	bottom: 15px;
}
.edit {
	margin-left:auto;
	margin-right:auto;
	width:65%;
}
.center {
	margin-left:auto;
	margin-right:auto;
	width:15%;
}
.newuser {
    text-decoration: none;
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}