body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background-color: #F3F3F4;
    background-image: url('/images/bg.png');
	background-attachment: fixed;
}

footer {
    text-align: center;
    color: #6C707B;
    font-size: small;
}

.honghaz {
	color: #6C707B;
	
	-webkit-transition: color 0.4s ease;  
    -moz-transition: color 0.4s ease;  
    -o-transition: color 0.4s ease;  
    -ms-transition: color 0.4s ease;  
    transition: color 0.4s ease;
}

.honghaz:hover {
	color: #ff8d00;
	
	-webkit-transition: color 0.4s ease;  
    -moz-transition: color 0.4s ease;  
    -o-transition: color 0.4s ease;  
    -ms-transition: color 0.4s ease;  
    transition: color 0.4s ease;
}

.honghaoz:visited {
	color: #346BB9;
	text-decoration: none;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    /*width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    */
}
    
input[type=text] {
	
}

.input-text-front {
	position: relative;
	top: 6px;
	border:1px solid #ccc;
	padding: 7px 3px;
	width: 140px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
	
	-webkit-transition: width 0.4s ease;  
    -moz-transition: width 0.4s ease;  
    -o-transition: width 0.4s ease;  
    -ms-transition: width 0.4s ease;  
    transition: width 0.4s ease;
    
    -webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;
}

.input-text-front:hover {
	position: relative;
	top: 6px;
	border:1px solid #9E9D9D;
	padding: 7px 3px;
	width: 170px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: rgba(194,229,255,0.29);
	font-size:medium;
	
	-webkit-transition: width 0.4s ease;  
    -moz-transition: width 0.4s ease;  
    -o-transition: width 0.4s ease;  
    -ms-transition: width 0.4s ease;  
    transition: width 0.4s ease;
}

.input-text-front:active {
	position: relative;
	top: 6px;
	border:1px solid #9E9D9D;
	padding: 7px 3px;
	width: 170px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
}


.input-text-feedback {
	position: relative;
	top: 6px;
	border:1px solid #ccc;
	padding: 7px 3px;
	width: 200px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
	
	-webkit-transition: width 0.4s ease;  
    -moz-transition: width 0.4s ease;  
    -o-transition: width 0.4s ease;  
    -ms-transition: width 0.4s ease;  
    transition: width 0.4s ease;
    
    -webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;
}

.input-text-feedback:hover {
	position: relative;
	top: 6px;
	border:1px solid #9E9D9D;
	padding: 7px 3px;
	width: 230px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: rgba(194,229,255,0.29);
	font-size:medium;
	
	-webkit-transition: width 0.4s ease;  
    -moz-transition: width 0.4s ease;  
    -o-transition: width 0.4s ease;  
    -ms-transition: width 0.4s ease;  
    transition: width 0.4s ease;
}

.input-text-feedback:active {
	position: relative;
	top: 6px;
	border:1px solid #9E9D9D;
	padding: 7px 3px;
	width: 230px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
}


.input-textarea {
	position: relative;
	top: 6px;
	border:1px solid #ccc;
	padding: 5px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
    
    -webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;
}

.input-textarea:hover {
	position: relative;
	top: 6px;
	border:1px solid #9E9D9D;
	padding: 5px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: rgba(194,229,255,0.29);
	font-size:medium;
	
}

.input-textarea:active {
	position: relative;
	top: 6px;
	border:1px solid #9E9D9D;
	padding: 5px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
}

input[type=submit] {
 
}

.input-submit-front {
	font-size: 14px;
	border:1px solid #ccc;
	padding:5px 15px; 
	background: rgba(0,0,0,0.03); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;  
}

.input-submit-front:hover {
	font-size: 14px;
	border:1px solid #9e9d9d;
	padding:5px 15px; 
	background: rgba(194,229,255,0.29); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;  
}

.input-submit-front:active {
	font-size: 14px;
	border:1px solid #d9d9d9;
	padding:5px 15px; 
	background: rgba(255,255,255,0.31); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.input-reset-front {
	padding:5px 10px; 
	border:1px solid #ccc;
	background: rgba(0,0,0,0.05); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;  
}

.input-reset-front:hover {
	padding:5px 10px; 
	border:1px solid #9E9D9D;
	background: rgba(255,194,194,0.29); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;  
}

.input-reset-front:active {
	padding:5px 10px; 
	border:1px solid #D9D9D9;
	background: rgba(255,255,255,0.31); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


select {
	font-size: 15px;
	font-weight: 300;
}

.main-title {
    display: block;
    color: #346bb9;
    font-size: 39px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    
    -webkit-transition: color .4s linear;  
    -moz-transition: color .4s linear;  
    -o-transition: color .4s linear;  
    -ms-transition: color .4s linear;  
    transition: color .4s linear;  
}

.main-title:hover {
    display: block;
    color: #00ddff;
    font-size: 39px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    
    -webkit-transition: color .4s linear;  
    -moz-transition: color .4s linear;  
    -o-transition: color .4s linear;  
    -ms-transition: color .4s linear;  
    transition: color .4s linear; 
}

.main-title:active {
    display: block;
    color: #ffea00;
    font-size: 39px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.banner {
    display: block;
    color: #346bb9;
    font-size: 15px;
    font-weight: 310;
    text-decoration: none;
    width: 30px;
    position: relative;
    left: 575px;
    bottom: 80px;
    
    -webkit-transition: color .4s linear;  
    -moz-transition: color .4s linear;  
    -o-transition: color .4s linear;  
    -ms-transition: color .4s linear;  
    transition: color .4s linear;  
}

.banner:hover {
    display: block;
    color: #346bb9;
    font-size: 15px;
    font-weight: 310;
    text-decoration: none;
    width: 30px;
    position: relative;
    left: 575px;
    bottom: 80px;
    
    -webkit-transition: color .4s linear;  
    -moz-transition: color .4s linear;  
    -o-transition: color .4s linear;  
    -ms-transition: color .4s linear;  
    transition: color .4s linear;
}

.banner:active {
    display: block;
    color: #346bb9;
    font-size: 15px;
    font-weight: 310;
    text-decoration: none;
    width: 30px;
    position: relative;
    left: 575px;
    bottom: 80px;
}

.sub-title {
	text-align:center;
	font-weight: 300;
}

.cen-center {
	width:500px;
	margin:auto auto auto auto;
}

.uw-icon {
	position: relative; 
	top: 50px; 
	left: 370px;
	height: 50%;
	width: 50%;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.alarm-text {
	position: relative; 
	top: 31px; 
	left: 515px;
	font-size: 18px;
	font-weight: 350;
	color: #9C3333;
	
	/*-webkit-animation: hit 1s;*/
	
	-webkit-transition: left .2s linear;  
    -moz-transition: left .2s linear;  
    -o-transition: left .2s linear;  
    -ms-transition: left .2s linear;  
    transition: left .2s linear;      
}

@-webkit-keyframes hit {  
   22% { left: 50px; }
   100% { left: 515px; }   
} 

.alarm-text:hover {
	position: relative; 
	top: 31px; 
	left: 520px;
	font-size: 18px;
	font-weight: 350;
	color: #9C3333;
}

.no-alarm-text {
	position: relative; 
	top: 31px; 
	left: 470px;
	font-size: 18px;
	font-weight: 350;
	color: #126105;
	
	-webkit-transition: left .2s linear;  
    -moz-transition: left .2s linear;  
    -o-transition: left .2s linear;  
    -ms-transition: left .2s linear;  
    transition: left .2s linear;  
}

.no-alarm-text:hover {
	position: relative; 
	top: 31px; 
	left: 475px;
	font-size: 18px;
	font-weight: 350;
	color: #126105;
}

.alarm-icon {
	position: relative; 
	top: 37px; 
	left: 665px;
	
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
}

.alarm-icon:hover {
	position: relative; 
	top: 37px; 
	left: 665px;
	
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

}
.home-table {
	width:630px;
	margin:auto auto auto auto;
}

.home-table-description {
	color : gray;
	font-weight: 300;
}

.add-form {
	position: relative;
    top: 10px;
    left: 10px;
}

.choose {
	font-size:18px;
}

.select-style {
	position: relative;
	top: 6px;
	padding: 3px 3px;
    border: 1px solid #ccc;
    width: 140px;
    border-radius: 3px;
    overflow: hidden;
    background: #fcfcfc url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 92% 50%;
    
    -webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;
    
    -webkit-transition: width 0.4s ease;  
    -moz-transition: width 0.4s ease;  
    -o-transition: width 0.4s ease;  
    -ms-transition: width 0.4s ease;  
    transition: width 0.4s ease;
    
}

.select-style:hover {
	position: relative;
	top: 6px;
	padding: 3px 3px;
    border: 1px solid #9E9D9D;
    width: 170px;
    border-radius: 3px;
    overflow: hidden;
    background: rgba(194,229,255,0.29) url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 92% 50%;
}

.select-style select {
    padding: 3px 8px;
    width: 120%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/*Styles for cen-reslt*/
.blue {
	color: #346bb9;
}

.green {
	color: #126105
}

.yellow {
	color: #d6bd00
}

.orange {
	color: #d58700
}

.red {
	color: #d14a00
}

.more_red {
	color: #9C3333
}

.course-table-head {
	width:550px;
	margin:auto auto auto auto;
	font-size: 17px;
	font-weight: 300;
}

.course-table {
	width:500px;
	margin:auto auto auto 30px;
}

.course-num-td {
	position: relative;
	left: 5px;
	font-size: 20px;
	font-weight: 300;
	color: #346bb9;
	text-decoration: none;
}


.course-num-td:visited {
	position: relative;
	left: 5px;
	font-size: 20px;
	font-weight: 310;
	color: #346bb9;
	text-decoration: none;
}

.course-title-td {
	font-size: large;
	font-weight: 300;
	position: relative;
	left: 17px;
	color: #373737;
	text-decoration: none;
}

.course-title-td:visited {
	font-size: large;
	font-weight: 300;
	position: relative;
	left: 17px;
	color: #373737;
	text-decoration: none;
}

.class-table {
	width:740px;
	margin:auto auto auto auto;
}

.course-credit-td {
	font-size: large;
	font-weight: 300;
	text-decoration: none;
}

.course-title-td1 {
	font-size: large;
	font-weight: 350;
	text-decoration: none;
}

.course-note-td {
	font-size: medium;
	font-weight: 300;
	text-decoration: none;
	width: 670px;
}

.large-font {
	font-size: large;
}

.paper {
	font-size: 16px;
	padding: 7px 7px;
	background: #fafafa;
	border: 1px solid #ccc;
    border-radius: 5px;
    
    -webkit-transition: padding 0.7s ease;  
    -moz-transition: padding 0.7s ease;  
    -o-transition: padding 0.7s ease;  
    -ms-transition: padding 0.7s ease;  
    transition: padding 0.7s ease;  
}

.paper:hover {
	font-size: 16px;
	padding: 12px 7px;
	background: #ffffff;
	border: 1px solid #bdbdbd;
    border-radius: 5px;
    
    -webkit-transition: padding 0.4s ease;  
    -moz-transition: padding 0.4s ease;  
    -o-transition: padding 0.4s ease;  
    -ms-transition: padding 0.4s ease;  
    transition: padding 0.4s ease; 
}

.paper:active {
	font-size: 16px;
	padding: 12px 12px;
	background: #ffffff;
	border: 1px solid #a9a9a9;
    border-radius: 5px;
}

.alarm-email-input {
	position: relative;
	left: 6px;
	border:1px solid #ccc;
	padding: 5px 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: #fcfcfc;
	font-size:medium;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;
}

.alarm-email-input:hover {
	position: relative;
	left: 6px;
	border:1px solid #ccc;
	padding: 5px 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background: rgba(194,229,255,0.29);
	font-size:medium;
}

.alarm-set-input {
	position: relative;
	left: 6px;
	font-size: 15px;
	border:1px solid #ccc;
	padding:5px 15px; 
	background: rgba(0,0,0,0.03); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease;
}

.alarm-set-input:hover {
	position: relative;
	left: 6px;
	font-size: 15px;
	border:1px solid #9E9D9D;
	padding:5px 15px; 
	background: rgba(52,108,186,0.14); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: background 0.4s ease;  
    -moz-transition: background 0.4s ease;  
    -o-transition: background 0.4s ease;  
    -ms-transition: background 0.4s ease;  
    transition: background 0.4s ease; 
}

.alarm-set-input:active {
	position: relative;
	left: 6px;
	font-size: 15px;
	border:1px solid #D9D9D9;
	padding:5px 15px; 
	background: rgba(255,255,255,0.31); 
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.front-login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 170px;
}

.cen-login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: -70px;
    width: 170px;
}

.sub-login-area {
	position: relative;
	top: 6px;
    right: 20px;
}

.login-link {
	position: relative;
	left: 10px;
	width: 147px;
	height: 30px;
    display:block;  
    background: url('/images/google-png/White-signin_Long_base_20dp.png') center top no-repeat;  
}

.login-link:hover {
	position: relative;
	left: 10px;
	width: 147px;
	height: 30px;
    display:block;  
    background: url('/images/google-png/White-signin_Long_hover_20dp.png') top right no-repeat;  
}

.login-link:active {
	position: relative;
	left: 10px;
	width: 147px;
	height: 30px;
    display:block;  
    background: url('/images/google-png/White-signin_Long_press_20dp.png') top right no-repeat;  
}

.logout-link {
    color: gray;
    text-decoration: none;
}

.logout-link:visited {
    color: gray;
}

.logout-link:hover {
    text-decoration: underline;
}

.manage {
    color: #346BB9;
    text-decoration: none;
}

.manage:visited {
    color: #346BB9;
}

.manage:hover {
    text-decoration: underline;
}

.user {
	color: gray;
	font-weight: 500;
	font-size: 13px;
	text-align: right;
}

.user-signout {
	font-size: 12px;
	text-align: right;
}

.delete_href {
	color: black;
	font-size: 13px;
	text-decoration: none;
}

.delete_href:hover {
	color: black;
	font-size: 13px;
	text-decoration: none;
}

.delete_href:active {
	color: black;
	font-size: 13px;
	text-decoration: none;
}


.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #346bb9;
}

.post-title {
	display: block;
    font-size: 27px;
    font-weight: bold;

    text-decoration: none;
    color: #346bb9;
	border-bottom: 0px solid #346bb9;
    word-wrap:break-word;
    text-align:justify;
    
    /*white-space:nowrap; 
    overflow:hidden; 
    text-overlow:ellipsis; 
    width:630px;*/
}


.emails {
	font-size: 18px;
	font-weight: 400;
	width: 300px;
}


.post-title:visisted {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 3px;
    color: rgba(52,108,186,0.71);

}

.post-content {
    margin-top: 5px;
    word-wrap:break-word;
    text-align:justify;
    color: #6C707B
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.return {
	font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}
.query {
	position: relative;
	right: -325px;
	bottom: 15px;
}
.edit {
	margin-left:auto;
	margin-right:auto;
	width:65%;
}
.center {
	margin-left:auto;
	margin-right:auto;
	width:15%;
}
.newuser {
    text-decoration: none;
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}