{% extends "base-head.html" %}

{% block content_app %}
  <a href="/" class="main-title">UWaterloo Utilities</a>
  
  <div class="front-login-area">
	  {{user_area | safe}}
  </div>
  <h4 class="sub-title">Done by Honghao Zhang</h4>
  <table class="home-table">
  	
  	{% for app in apps %}
  	  <tr>
        <td>
          <form action="{{app.link}}">
            <input type="submit" value="{{app.name}}" class="input-submit-front">
          </form>
        </td>
        <td>
          <span class="home-table-description">&nbsp; {{app.description}}</span>
        </td>
      </tr>
  	{% endfor %}
  </table>
{% endblock %}
